/* Background */
/* ===================================== */
body{
    /*background-image: linear-gradient(to bottom, #0c343dff,rgb(197, 0, 76) 130%);*/
    background-color: darkgreen;
    background-attachment:fixed;
    height:100%;
    margin: 0;
    padding: 0;
    font-size: 1.125rem; /*Aproximadamente 18px, mas não é fixo (18/16)*/
    min-width: fit-content;
}

/* ===================================== */
html{
  font-size:100%; /* Ajuste do tamanho da fonte mais fácil pro usuário */
  box-sizing: border-box; /* Padding incluso na width */
}

*,*::before,*::after{
  box-sizing: inherit; /* Herdar o box-sizing do HTML*/
}

a,a:visited,a:hover{
  text-decoration: none;
  color: rgb(77, 77, 77);
}

/* Fontes */
/* ===================================== */

body{
  font-family: 'Abel';
  color: white;
}

.font-display{
  font-family: 'Poiret One';
}

/* Tamanhos */
.font-small{
  font-size: 0.9rem; /* ~14px*/
}

.font-med{
  font-size: 1.125rem; /* ~18px*/
}

.font-big{
  font-size: 1.6rem; /* ~25px*/
}

.font-gargantuous{
  font-size: 2rem; /* ~32px*/
}

/* Header */
/* (Depois vou colocar em arquivo separado e importar, pra facilitar mudanças)
===================================== */


/*Header*/
.header{
}

/*Navbar*/
.flex{
  display: flex;
}

nav{
  padding: .8em;
}

.jc-space-between{
  justify-content: space-between;
}

.jc-center{
  justify-content: center;
}

.ai-center{
  align-items: center;
}

/*Logo*/
img.logo{
  width: fit-content;
}

/*Hamburger-Menu*/
.menu{
  padding: 20px;
}

a.menu > span{
  display: block;
  background-color: white;
  height: 3px;
  transition: all .2s ease; 
  transform-origin: center left;
}

a.menu >span:not(:nth-child(2)){
  width: 19px;
}

a.menu >span:nth-child(2){
  width: 24px;
}

a.menu>span:not(:last-child){
  margin-bottom: 4px;
}

header:not(.open)>nav >a.menu:hover > span{
  transition: width .2s;
  width: 30px;
}

div.header-links > a:not(:last-child){
  margin-right: 2em;
}

/*Os links que surgem com o hamburger*/
.header-links{
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  border-radius: 3px;
  z-index: 1;;
}

.header-links > a{
  display: block;
  padding: 1.625rem;
  width: 100%;
}

.header-links > a:hover{
  color:deeppink;
  transition: 0.6s;
}

/* Overlay pra abertura do menu */
header > nav{
  background-color: #0c343dff;
}

.overlay{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top:5.6rem;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(tomato,transparent);
}

/*Animação do overlay*/
@keyframes fade-in{
  from{
    visibility: hidden;
    opacity: 0;
  }
  to{
    visibility: visible;
    opacity: 1;
  }
}

.fade-in{
  animation: fade-in 0.3s ease-in-out forwards;
}

@keyframes fade-out{
  from{
    visibility: visible;
    opacity: 1;
  }
  99%{
    opacity: 0;
  }
  to{
    visibility: hidden;
  }
}

.fade-out{
  animation: fade-out 0.3s ease-in-out forwards;
}

/*Para a animação do hamburger e overlay*/

header.open > nav > a.menu > span:first-child{
  transform: rotate(45deg);
}

header.open > nav > a.menu > span:nth-child(2){
  opacity: 0;
}

header.open > nav > a.menu > span:last-child{
  transform: rotate(-45deg);
}
/* Responsividade */
/* ===================================== */
@media screen and (max-width:600px){
  .hide-from-mobile{
    display:none;
  }
}

@media screen and (min-width:601px){
  .hide-from-desktop{
    display:none;
  }
}