/* Background */
/* ===================================== */
body{
    /*background-image: linear-gradient(to bottom, #0c343dff,rgb(197, 0, 76) 130%);*/
    background-color: white;
    background-attachment:fixed;
    height:100%;
    margin: 0;
    padding: 0;
    font-size: 1.125rem; /*Aproximadamente 18px, mas não é fixo (18/16)*/
    min-width: fit-content;
}

/* ===================================== */
html{
  font-size:100%; /* Ajuste do tamanho da fonte mais fácil pro usuário */
  box-sizing: border-box; /* Padding incluso na width */
}

*,*::before,*::after{
  box-sizing: inherit; /* Herdar o box-sizing do HTML*/
}

a,a:visited,a:hover{
  text-decoration: none;
  color: rgb(77, 77, 77);
}

/* Fontes */
/* ===================================== */

/* Padrão é a Abel, importada já no HTML para vir antes*/
body{
  font-family: 'Abel';
}

/*Depois, importando as auxiliares: Poiret One e Bebas Neue*/

.font-display{
  font-family: 'Poiret One';
}

@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');

.font-dense{
  font-family: 'Bebas Neue', cursive;
}

/* Tamanhos */
.font-small{
  font-size: 0.9rem; /* ~14px*/
}

.font-med{
  font-size: 1.125rem; /* ~18px*/
}

.font-big{
  font-size: 1.6rem; /* ~25px*/
}

.font-gargantuous{
  font-size: 2rem; /* ~32px*/
}

/* Header */
/* (Depois vou colocar em arquivo separado e importar, pra facilitar mudanças)
===================================== */


/*Header*/
.header{
}

/*Navbar*/
.flex{
  display: flex;
}

nav{
  padding: .8em;
}

.jc-space-between{
  justify-content: space-between;
}

.jc-center{
  justify-content: center;
}

.ai-center{
  align-items: center;
}

/*Logo*/
img.logo{
  width: fit-content;
}

/*Hamburger-Menu*/
.menu{
  padding: 20px;
}

a.menu > span{
  display: block;
  background-color: white;
  height: 3px;
  transition: all .2s ease; 
  transform-origin: center left;
}

a.menu >span:not(:nth-child(2)){
  width: 19px;
}

a.menu >span:nth-child(2){
  width: 24px;
}

a.menu>span:not(:last-child){
  margin-bottom: 4px;
}

header:not(.open)>nav >a.menu:hover > span{
  transition: width .2s;
  width: 30px;
}

div.header-links > a:not(:last-child){
  margin-right: 2em;
}

/*Os links que surgem com o hamburger*/
.header-links{
  padding: 1rem;
  margin-top: 7rem;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  width: calc(100% - 2rem);
  z-index: 1;
}

.header-links > a{
  color: antiquewhite;
  display: block;
  padding: 1.625rem;
  width: 100%;
  font-size: 2.1rem;
}

.header-links > a:hover{
  color: #0c343dff;
  transition: 0.7s;
}

/* Overlay pra abertura do menu */
header > nav{
  background-color: #0c343dff;
}

.overlay{
  opacity: 0;
  position: absolute;
  top:5.6rem;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ff4d2d;
/*  background-image: linear-gradient(#ff6347,transparent);
*/}

/*Impedindo scroll quando o hamburger está aberto*/
.no-scroll{
  overflow: hidden;
}

/*Pra colocar o surgimento do menu acoplado ao botão*/
.has-fade{
  visibility: hidden;
}

/*Animação do overlay*/
@keyframes fade-in{
  from{
    visibility: hidden;
    opacity: 0;
  }
  to{
    visibility: visible;
    opacity: 1;
  }
}

.fade-in{
  animation: fade-in 0.3s ease-in-out forwards;
}

@keyframes fade-out{
  from{
    visibility: visible;
    opacity: 1;
  }
  99%{
    opacity: 0;
  }
  to{
    visibility: hidden;
  }
}

.fade-out{
  animation: fade-out 0.3s ease-in-out forwards;
}

/*Para a animação do hamburger e overlay*/

header.open > nav > a.menu > span:first-child{
  transform: rotate(45deg);
}

header.open > nav > a.menu > span:nth-child(2){
  opacity: 0;
}

header.open > nav > a.menu > span:last-child{
  transform: rotate(-45deg);
}
/* Responsividade */
/* ===================================== */
@media screen and (max-width:600px){
  .hide-from-mobile{
    display:none;
  }
}

@media screen and (min-width:601px){
  .hide-from-desktop{
    display:none;
  }
}

/* Animação de carregamento */
/* ===================================== */
.loader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
}
.circle{
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 3px solid #0c343dff;
  z-index: 1500;
  border-radius: 50%;
}

.circle::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-top-color: #ff4d2d;;
  border-radius: 50%;
  animation: spinning-circles 1.2s linear infinite;
}

/*A animação de rotação*/
@keyframes spinning-circles{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

/* Corpo */
/* ===================================== */
div.intro-img{
  position: relative;
  background-image: url('../img/shapes4.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17rem;
  z-index: -1;
}

div.intro-img::before{
  content: "";
  height: 100%;
  width: 90%;
  position:absolute;
  z-index: -1;
  background-image: url('../img/eu_hangloose-nobg.png');
  background-size: contain;
  transform: scale(1.1);
  background-repeat: no-repeat;
  background-position: center center;
}

.fluid-image{
  object-fit:cover;
  object-position: center center;
}

.intro-text{
  text-align: center;
}

.intro-text .font-display{
  font-weight: 1200;
  font-size: 2.6rem;
  line-height: 1.1;
}

.intro-text > p{
  display: block;
  font-weight: 200;
  margin: 2rem;
}