/* Background */
/* ===================================== */
body{
    background-image: linear-gradient(to bottom, #0c343dff,rgb(197, 0, 76) 130%);
    background-attachment:fixed;
    height:100%;
    margin: 0;
    padding: 0;
}

/* ===================================== */
html{
  font-size:100%; /* Ajuste do tamanho da fonte mais fácil pro usuário */
  box-sizing: border-box; /* Padding incluso na width */
}

*,*::before,*::after{
  box-sizing: inherit; /* Herdar o box-sizing do HTML*/
}

/* Fontes */
/* ===================================== */

.font-display{
    font-family: 'Poiret One';
  }
  
  .font-normal{
    font-family: 'Abel';
  }

/* Header */
/* (Depois vou colocar em arquivo separado e importar, pra facilitar mudanças)
===================================== */


/*Header*/
.header{
  background-color: white;
}

/*Navbar*/
.flex{
  display: flex;
}

nav{
  padding: 2em;
}

.jc-space-between{
  justify-content: space-between;
}

.jc-center{
  justify-content: center;
}

.ai-center{
  align-items: center;
}

/*Logo*/
.logo{

}

/*Hamburger-Menu*/

a.menu > span{
  display: block;
  background-color: yellowgreen;
  width: 26px;
  height: 2px;
}

a.menu>span::not(:last-child){
  margin-bottom: 3px;
}

/*
.menu{ Só aplica aos spans que são filhos diretos de elementos da classe .menu
    display: block;
    
  }*/